.CustomerManager {
    background: white;
    margin: 3px 10px 20px;
    border: solid 1px lightgray;
    height: 100%;    
}

.CustomerManager .ReactTable {
    font-size: 13px;
}

.RowField {
    margin: 0px 10px;
}